.main-section {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
}

.food-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.cart-section {
  border: 2px solid lightgray;
}

/* ///// */
@media only screen and (max-width: 576px) {
  .main-section {
    grid-template-columns: 1fr 1fr;
  }
  .food-section {
    grid-template-columns: 1fr;
  }
  .food-cart {
    padding: 5px;
  }
  .food-cart img {
    height: 170px;
  }
}
